
* {
    margin: 0;
    color: #0f2e43;
}
body{
    background-color: black;
}
img {
    width: 500px;
    display: block;
    margin: 0 auto;
}
h3, h2 {
    text-align: center;
}
h3 {
    margin-top:30px
}
.content p {
    margin-bottom: 20px;
}

.social {
    margin: 30px 0 30px 0;
    padding: 12px;

}
#page {
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    padding: 6px;
}
h1 {
    text-align: center;
}
a {
    color: #0f2e43;
    text-decoration: none;
    font-size: 22px;
}
a:hover {
    color: #a6e9ff;
    text-decoration: underline;

}

#page div:first-of-type {
    font-style: italic;
    font-weight: bold;
}

.menu li {
    display: inline;
    padding: 6px;
    color: #0a202a;
}

.menu {
    list-style-type: none;
    background-color: #a9dff1;
    padding: 6px;
    font-size: 20px;

}

.social {
    margin: 30px 0 30px 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 12px;

}
